<!DOCTYPE html>
<html lang="en">
	<head>
   <meta charset="utf-8">
   <title>Tutoriales</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Tutoriales de todo">
   <meta name="author" content="jaco" >

   <!-- Le styles -->
   <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
   <style type="text/css">
   	body {
      	padding-top: 60px;
      	padding-bottom: 40px;
      }
     	.sidebar-nav {
      	padding: 9px 0;
      }

      @media (max-width: 980px) {
      /* Enable use of floated navbar text */
      	.navbar-text.pull-right {
      		float: none;
        		padding-left: 5px;
        		padding-right: 5px;
      	}
      }
    	a.menu:after, .dropdown-toggle:after { 
      	content: none; 
      } 

    	ul.nav li.dropdown:hover { 
      	font-weight: bold;
		} 
  		ul.nav li.dropdown:hover ul.dropdown-menu.submenu{ 
    		display: block; 
    		margin-left: 220px;  
    		margin-top: -36px;         
         background-color:#FFF; 
         font-weight: normal;         
		} 
	</style> 
   <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
   <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
   <!--[if lt IE 9]>
   	<script src="../assets/js/html5shiv.js"></script>
   <![endif]-->

   <!-- Fav and touch icons -->
   <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
   <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
   <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
   <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
   <link rel="shortcut icon" href="../assets/ico/favicon.png">
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
   	<div class="navbar-inner">
      	<div class="container-fluid">
         	<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
          	</button>
          	<a class="brand" href="{% url home %}">TuLoArmas</a>
          	<div class="nav-collapse collapse">
          		{% if user.is_authenticated %}
    				<p class="navbar-text pull-right">
    					<a href="/logout/">Cerrar Sesión</a>
    				</p>
    				<p class="navbar-text pull-right">
    		 			<a href="/menu/">Usuario {{user.username}}</a> -
    		 			--
    				</p>
    	  			{%else%}
    	  			<p class="navbar-text pull-right">
    					<a href="/login/">Iniciar Sesión</a>
    				</p>
    	  			{%endif%}
            	<ul class="nav">
              		<li class="active"><a href="/">Home</a></li>
              		<li><a href="/about">About</a></li>
              		<li><a href="/faq">FAQ</a></li>
              		<li><a href="/contact">Contact</a></li>
              		<li><a href="/ayuda">Ayuda</a></li>
            	</ul>
            	<form class="navbar-form navbar-left" role="search">
		        		<div class="form-group">
	          	   	<input type="text" class="form-control" placeholder="Buscar">
	        	    		<button type="submit" class="btn btn-default">Enviar</button>
	        	    	</div>
          		</form>
          	</div><!--/.nav-collapse -->
      	</div>
   	</div>
	</div>

	<div class="container-fluid"> 
		<div class="row-fluid">
      	<div class="span3">
         	<div class="well sidebar-nav">
            	<ul class="nav nav-list">
            	<a class="text-center" href="/"><img src="/static/images/css/TuLoArmasLogo.jpg"></a>
      		<div id="zona-navegacion"> 
        			<ul id="menuLateraer-fluid"> 
						<div class="row-fluid">
        					<div class="span3l" class="nav nav-tabs nav-stacked">  
          					<li class="dropdown"><a class="dropdown-toggle" href="/datos">Datos de usuario</a> 
         					</li> 
								<li class="dropdown"><a class="dropdown-toggle" href="/cotizaciones-u">Cotizaciones anteriores</a> 
          					</li>
          					<li class="dropdown"><a class="dropdown-toggle" href="/agregar_productos">Agregar productos</a> 
          					</li>
          					<li class="dropdown"><a class="dropdown-toggle" href="/crear_tutorial">Crear tutorial</a> 
          					</li>   
        			</ul> 
      		</div>
      	</div>
      </div>
      <div class="span9">
      		<div class="well span-nav">
        		<h1>Datos de usuario</h1>
				{% if user.is_authenticated %}
  <form action="" method="post">
    <table class="table table-bordered">
      <tr><th>Usuario:</th><td>{{ user.username }}</td></tr>
      <tr><th><label for="id_pass">Contraseña:</label></th><td><input id="id_pass" type="password"  name="pass"/></td></tr>
      <tr><th><label for="id_newpass">Nueva contraseña:</label></th><td><input id="id_newpass" type="password" name="newpass"/></td></tr>
      <tr><th><label for="id_newpass2">Nueva contraseña (confirmación):</label></th><td><input id="id_newpass2" type="password" name="newpass2"/></td></tr>
      <tr><th><label for="id_name">Nombre Completo:</label></th><td><input id="id_name" type="text" placeholder="{{ user.first_name }}" name="name"/></td></tr>
      <tr><th><label for="id_rut">Rut:</label></th><td><input id="id_rut" type="text" placeholder="{{ user.last_name }}" name="rut"/></td></tr>
      <tr><th><label for="id_mail">E-Mail:</label></th><td><input id="id_mail" type="text" placeholder="{{ user.email }}" name="mail"/></td></tr>
      {% csrf_token %}
    </table>
    <input type="submit" class="btn btn-success" style="font-weight:bold;" value="Editar">
  </form>
  <a class="btn btn-warning pull-right" href="/perfil/#menu" role="button"><i class="icon-chevron-left icon-white"></i> <b>Atrás</b></a>


{% else %}
{% endif %}
          </div>
		</div>
		<hr>
		</div>
	</div>
	<footer>
   	<p>&copy; PBD-2013 Javier,Ricardo,MarcelaPaz</p>
   </footer>

</body>
</html> 
