{% extends 'template.html' %}
{% block TITLE %}TuLoArmas{% endblock %}
{% block contenido %}


          <div class="hero-unit">
          {% block centro-sup %}
            <h1>Preguntas Frecuentes</h1><p></p>
            <div class="well span-nav">
				<div class="row-fluid">
					<div class="row-fluid">            
            		<p>Pregunta N°1</p>
					</div>				
					<div class="row-f">
						<p>Descripcion </p>				
					</div> 
					</div>           
            </div>
            
            <div class="well span-nav">
				<div class="row-fluid">
					<div class="row-fluid">            
            		<p>Pregunta N°2</p>
					</div>				
					<div class="row-f">
						<p>Descripcion </p>				
					</div> 
					</div>           
            </div>
				            
            
            <p>Si requiere mas ayuda favor contactarse con nosotros haciendo click <a href="/about">aqui</a></p>
            {% endblock %}
          </div>
          </div>

      	
{% endblock %}
