{% extends 'template2.html' %}
{% block TITLE %}TuLoArmas{% endblock %}
{% block contenido %}

<div class="hero-unit">
        <h4>Ingrese los datos del material COMPUESTO que desea ingresar</h4>
        <div class="contenido">
        <form class="form-horizontal" method="POST" action="{url home}">
        {% csrf_token %}
          <p><div class="control-group">
            <label class="control-label" for="inputName">Nombre</label>
            <div class="controls">
              <input type="text" class="span6" id="inputName">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputCategoria">Categoría</label>
            <div class="controls">
              <input type="text" class="span6" id="inputCategoria">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputCategoria">Marca</label>
            <div class="controls">
              <input type="text" class="span6" id="inputCategoria">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputCategoria">Modelo</label>
            <div class="controls">
              <input type="text" class="span6" id="inputCategoria">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputCategoria">Código</label>
            <div class="controls">
              <input type="text" class="span6" id="inputCategoria">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputCategoria">Precio</label>
            <div class="controls">
              <input type="text" class="span6" id="inputCategoria">
            </div>
            </div>
          </p>
			<div class="control-group">
				<label class="control-label" for="inputCategoria">Agregar imagen</label>
				<div class="controls">
            <p><input type="file" class="filestyle" data-classInput="input-small">
				</div>
			</div>
		<br /><hr />
		<div class="control-group">
       	<label class="control-label" for="inputCategoria">Lista de materiales</label>
       	<div class="controls">
          	<input type="text" placeholder="Buscar..." id="filtrar-materiales" /></div>
          	<div class="controls">
                    <select style="height:187px" id="lista-materiales" multiple="multiple">
                    {% for producto in productos %}
                        <option value="{{producto.id}}-0" id="producto-{{producto.id}}">{{producto.nombre}}</option>
                    {% endfor %}
                    </select>
             </div>
             </div>
       



        <div class="control-group">
          <label class="control-label" for="inputCategoria">Descripción:</label>
          <div class="controls">
            <textarea class="span7" rows="6"></textarea>
          </div>

				<hr />
          <button type="submit" class="btn btn-primary">Aceptar</button>
          <button type="button" class="btn">Agregar más productos</button>
          <button type="button" class="btn">Cancelar</button>
        </div>
        

 </form>
</div>
{% endblock %}    
