{% extends 'template.html' %}
{% block TITLE %}TuLoArmas{% endblock %}
{% block contenido %}
      <div class="span9">
      		<div class="well span-nav">
        		{% if materiales %}
            	{% for material in materiales %}
            		{% ifequal material.tipo_material "p" %}
            		{% ifequal material.categoria_id 1 %}
          				<div class="span4">
              				<h2>{{material.nombre_material}}</h2>
              				<img src={{material.imagen_material}} width="200px" alt="">
              				<p>{{material.descripcion_material}}</p>
              				<p>${{material.tipo_material}}</p>
              				<p><a class="btn" href="/detalle_producto/{{material.id}}">Ver detalles &raquo;</a></p>
            			</div><!--/span-->
            		{% endifequal %}
            	{% endifequal %}
            	{% endfor %}
        		{% else %}
            	<h3>Lo sentimos, no se han encontrado productos</h3>
        		{% endif %}
          </div>
		</div>
	<hr>
{% endblock %}