{% extends 'template.html' %}
{% block TITLE %}TuLoArmas{% endblock %}
{% block contenido %}
      <div class="span9">
      		<div class="well span-nav">
        		{% if tutoriales %}
            	{% for tutorial in tutoriales %}
            	
          			<div class="span4">
              			<h2>{{tutorial.nombre_tutorial}}</h2>
              			<img src={{tutorial.imagen_tutorial}} width="200px" alt="">
              			<p>{{tutorial.descripcion_tutorial}}</p>
              			<p><a class="btn" href="/detalle/{{tutorial.id}}">Ver detalles &raquo;</a></p>
            		</div><!--/span-->
            	{% endfor %}
        		{% else %}
            	<h3>Lo sentimos, no se han encontrado productos</h3>
        		{% endif %}
          </div>
		</div>
		<hr>
		{% endblock %}